.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.legend-indicator {
  width: 20px; /* Set square size */
  height: 20px; /* Set square size */
  display: inline-block;
  margin-right: 5px;
}


.btn-primary {
  border-color: #007bff; /* Adjust this to match your theme blue color */
  background-color: #007bff;
}

.table thead th {
  background-color: #f8f9fa; /* Light grey background for header */
  border-bottom: 2px solid #dee2e6; /* Grey bottom border for a subtle separation */
}

/* More styles can be added here to match the exact theme colors and padding/margins you desire */
/* Ensure that the sidebar spans the full height and starts from the very top */
.sidebar {
  height: 100vh;
  margin-top: 0;
}

/* Main content area needs to be adjusted so it does not overlap or appear below the sidebar */
.main-content {
  margin-left: 250px;  /* Adjust based on the width of your sidebar */
  padding-top: 60px;  /* Adjust based on the height of your navbar */
}

/* Style for the diagnose button when clicked */
.diagnose-button.clicked {
  background-color: #007bff;  /* Adjust the color to match your theme */
  color: white;
}

/* For data page */
/* 
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center; /* Center align the text */
/* }

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
} */ 
